# Ignorar bases de datos y archivos Excel
*.csv
*.xlsx

# Ignorar el entorno virtual (¡MUY IMPORTANTE!!¡!¡!¡¡!)
venv/
env/

# Ignorar archivos temporales de Python
__pycache__/

# (Opcional) Ignorar las imagenes generadas
*.png